#id_file_receiver {
    background: lightgreen;
}

.file_receiver {
    background: lightgray;

    width: 40%;
    height: 20vh;
    min-height: 80px;

    margin: 5vw auto;

    border: 2px solid gray;
    border-radius: 20px;

    text-align: center;
    vertical-align: middle;
    line-height: max(20vh, 80px);
}